/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide-scrollbar.css */

.no-scrollbar {
  /* for Firefox */
  scrollbar-width: none;
  /* for IE, Edge */
  -ms-overflow-style: none;
}

/* for Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
